*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}

section{
    padding: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3{
    width: 25%;
    padding: 15px;
}

.col-4{
    width: 33.33%;
    padding: 15px;
}

.col-5{
    width: 41.67%;
    padding: 15px;
}

.col-6{
    width: 50%;
    padding: 15px;
}

.col-7{
    width: 58.33%;
    padding: 15px;
}

.col-8{
    width: 66.66%;
    padding: 15px;
}

.col-12{
    width: 100%;
    padding: 15px;
}

.box{
    height: 100%;
    position: relative;
    overflow: hidden;
}


/* header */

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}


.auth-btns{
    display: flex;
    gap: 30px;
}

.auth-btns button:nth-child(1){
    border: none;
    background-color: transparent;
    color: #0B132A;
    font-size: 16px;
    font-weight: 500;
}

.auth-btns button:nth-child(2){
    color: #F53855;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #F53855;
    padding: 13px 45px;
}


/* section hero */


.box-wrapper h1{
    color: #0B132A;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    padding-bottom: 20px;
}

.box-wrapper p{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}

.box-wrapper button{
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 17px 0;
    width: 250px;
    /* border-radius: 10px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);    */
    box-shadow: 0px 27px 27px 0px rgba(245, 56, 56, 0.2);
    border-radius: 10px;
}


/* Section Features */

.features .container{

}

.features-info{
    padding-top: 103px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0px 54px 57px 0px rgba(13, 16, 37, 0.2); */
}

.features-box{
    border-right: 2px solid #EEEFF2;
    width: 25%;
}

.info-desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.features-box{
    display: flex;  
    gap: 36.5px;
}


/* Section Many-features */

.main-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-features h2{
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.features-desc{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.pluses{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
}

.pluses p{
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}


/* Section Plan */

.box-choise{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-choise h2{
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.box-choise p{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 60px;
}


.card{
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 760px;
    text-align: center;
}

.card:hover{
    border: 2px solid #F53838;
    transition: 1s;
}

.package{
    padding-top: 80px;
}

.package h5{
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding: 30px 0;
}

.points-desc{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.points-desc p{
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.prices h4{
    color: #0B132A;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.prices button{
    color: #F53838;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid #F53838;
    padding: 13px 63px;
    background-color: transparent;
    margin: 20px 0 50px 0;
}

.prices button:hover{
    transition: 0.6s;
    color: #fff;
    background: #F53838;
}

.prices span{
    color: #4F5665;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}


/* Section Huge */

.map-info h2{
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.map-info p{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 155px;
}


/* Section Customer*/

.title h2{
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}


.title p{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 60px;
}

.client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.client-name {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.client-rate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.client-card h5{
    color: #0B132A;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.client-name p{
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
}

.client-review-desc p{
    color: #0B132A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.client-card{
    border-radius: 10px;
    border: 2px solid #DDD;
    padding: 30px;
}

.client-card:hover {
    border-radius: 10px;
    border: 2px solid #F53838;
    transition: 1s;
}

.client-layout{
    padding: 0 25px;
}

/* Pagination */

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 181px;
}

.prev-next-buttons button{
    border: 2px solid #F53838 ;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 15px;
    
}

.previews{
    background-color: transparent;
    

}

.next{
    background-color: #F53838 ;
}


/* Footer */

/* Section  subscribe*/


.subscribe-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    position: absolute;
    top: 50px;
}

.subscribe-container h2{
    padding-bottom: 20px;
    color: #0B132A;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px; 
}

.subscribe-container p {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.subscribe-container button{
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 17px 0;
    width: 250px;
    box-shadow: 0px 27px 27px 0px rgba(245, 56, 56, 0.2);
    border-radius: 10px;
}




/* Section */
.main-footer{
    background: #F8F8F8;
    position: relative;
    padding-top: 400px;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.logo-footer{
    padding-bottom: 20px;
}

.footer-wrapper h6{
    color: #0B132A;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; 
    padding-bottom: 20px;
}

.footer-wrapper p{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    padding-bottom: 10px;
}

.social-media{
    padding-top: 30px;
}